@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-900 text-white m-0 p-0 overflow-hidden font-sans;
    /* 모바일에서 스와이프 시 화면이 스크롤되는 것을 방지합니다 */
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
  }
}